/*
Rajkaran Dhami
Student ID: 991542986
SYST10199 - Web Programming
*/
/* 
    Created on : Jul 14, 2019, 4:31:41 PM
    Author     : iamra
*/

@media (max-width:800px){
     body{background-color:blanchedalmond; }
  fieldset{position:relative; left:100px; background-color:white;  width:80%;  border: 2px solid; }
  h1{text-align:center; color:crimson;  font-size:30pt;}
  h2{text-align:center; color:red;  font-size:30pt;}
  h3{position:relative; left:100px; color:coral;  font-size:20pt; }
  h4{color:red; text-align:center;  font-style:italic; font-size:25pt; }
  p{position:relative; left:100px; color:darkslategray;}
}